package nl.casperdaris.filmmanagementsystem.security;

public class SecurityConstants {

    public static final long JWT_EXIPRATION = 70000;
    public static final String JWT_SECRET = "example_secret";
}
